.tile {
  width: 100%;
  background-color: #030303;
  margin: auto;

}

#tile-1 .tab-pane {
  padding: 1;
  height: 1;
  background-color: #030303;
}

#tile-1 .nav-tabs {
  position: relative;
  border: none !important;
  background-color: #3e3c3c;
  color: #39bcd3 !important;


  /*   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
  border-radius: 6px;
}

#tile-1 .nav-tabs li {
  margin: 0px !important;
  color: #39bcd3 !important;

}

#tile-1 .nav-tabs li a {
  position: relative;
  margin-right: 0px !important;
  padding: 20px 40px !important;
  font-size: 32px;
  border: none !important;
  color: #787474;
}

#tile-1 .nav-tabs a:hover {
  background-color: #484848 !important;
  border: none;
  color: #39bcd3 !important;

}

#tile-1 .slider {
  display: inline-block;
  width: 50%;
  height: 4px;
  border-radius: 3px;
  background-color: #39bcd3;
  position: absolute;
  z-index: 1200;
  bottom: 0;
  transition: all .4s linear;

}

#tile-1 .nav-tabs .active {
  background-color: transparent !important;
  border: none !important;
  color: #39bcd3 !important;
}

/* <!--sidebar--> */
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: block;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  /* Change margin-left to margin-right */
}

.sidebar-button {
  position: fixed;
  bottom: 60px;
  right: 5px;
  font-size: 0px;
  color: #111;
  background-color: #817c7c;
  padding: 10px 20px;
  border-radius: 0px;
  cursor: pointer;
}

.background {
  background-color: #222222;

}

.bottom {
  background-color: #222222;
}

.ceilings {
  background-color: #222222;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}


div.btn-container i {
  display: inline-block;
  position: relative;
  margin-top: 30px;
  top: -9px;
}

label {
  font-size: 15px;

  font-weight: bold;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 180px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  background: #333333;
  color: #ffffff;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  top: 7px;
  right: 19px;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 90px;
  background: #616262;
  border-radius: 26px;
  position: absolute;
  left: 3px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  padding: 6px 0px;
}

.btn-color-mode-switch>.alert {
  display: none;
  background: #FF9800;
  border: none;
  color: #fefdfd;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 90px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner {
  background: #333333;
  color: #fffdfde9;
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 88px;
  background: #616262f5;
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 10px;
}

.btn-color-mode-switch input[type="checkbox"]:checked~.alert {
  display: block;
}

.dark-preview {
  background: #222222;
}

.dark-preview div.btn-container .standard-icon {
  color: #09a6ae;
  opacity: .3;
}

.dark-preview div.btn-container .decora-icon {
  color: #09a6ae;
  opacity: 1;
}

.white-preview {
  background: #222222;
  color: #09a6ae;
}

.white-preview div.btn-container .standard-icon {
  color: #09a6ae;
  opacity: .8;
}

.white-preview div.btn-container .decora-icon {
  color: #09a6ae;
  opacity: .3;
}

p.by a {
  text-decoration: none;
  color: #000;
}

.dark-preview p.by a {
  color: #777;
}

.white-preview p.by a {
  color: #000;
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.89);
  border-radius: 3px;
  padding: 70px 100px;
}

.input-container {
  position: relative;
  margin-bottom: 25px;
}

.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fff;
}

.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}

th,
td {
  padding: 3px;
}




.w3-dark-grey input {
  padding: 3px;
}

.padding input {
  padding: 3px;
}


input[name="duplex_outlets"],
input[name="gfci"],
input[name="cutin"],
input[name="surface"],
input[name="1switch"],
input[name="quad_standard"],
input[name="quad_gfci"],
input[name="quad_cutin"],
input[name="quad_surface"],
input[name="quad_controlled"],
input[name="lv_switch"],
input[name="hv_switch"],
input[name="hv_dimming"],
input[name="lv_switchCI"],
input[name="hv_switchCI"],
input[name="hv_dimmingCI"],
input[name="rough_data"],
input[name="cutin_data"],
input[name="4-wire"],
input[name="3-wire"],
input[name="wh_120"],
input[name="wh_277"],
input[name="wh_277v"],
input[name="FC4in"],
input[name="FC6in"] {
  margin-top: 3px;
}