<<!DOCTYPE html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
  <html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <style>
    body {
      position: relative;
      background-color: white;
      overflow: hidden;
      border: 0;
      margin: 13px auto;
      box-shadow: 1px 1px 3px 1px #333;
      border-collapse: separate;
      height: 792px;
      width: 612px;
    }
  </style>

  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <div id="pfb" class="pf w0 h0" data-page-no="b">
      <div class="pc pcb w0 h0 opened">
        <img class="bi x0 y0 w1 h1" alt=""
         
        <div class="c x1 y1eb w4 h11">
          <div class="t m0 x1b h12 y1ec ff5 fs1 fc6 sc0 ls0 ws24">
            Job Documents
          </div>
          <div class="t m0 x1b h13 y1ed ff6 fs2 fc1 sc0 ls0 ws24">
            Odyssey - TRCM #23-0435-RC
          </div>
          <div class="t m0 x1b h14 y1ee ff5 fs3 fc1 sc0 ls0 ws24">
            To-Do Lists:
          </div>
          <div class="t m0 x23 h15 y1ef ff6 fs4 fc7 sc0 ls0 ws24">
            Walls Progress Sheet
          </div>
          <div class="t m0 x23 h15 y1f0 ff6 fs4 fc7 sc0 ls0 ws24">
            **Ceilings Progress Sheet
          </div>
          <div class="t m0 x23 h15 y1f1 ff6 fs4 fc7 sc0 ls0 ws24">
            **Trim Progress Sheet
          </div>
        </div>
        <div class="c x24 y1f2 w5 h16">
          <div class="t m0 x25 h14 y1f3 ff5 fs3 fc1 sc0 ls0 ws24">
            Material Lists:
          </div>
        </div>
        <div class="c x1 y1eb w4 h11">
          <div class="t m0 x23 h15 y1f4 ff6 fs4 fc7 sc0 ls0 ws24">
            Walls Material List
          </div>
          <div class="t m0 x23 h15 y1f5 ff6 fs4 fc7 sc0 ls0 ws24">
            **Ceilings Material List
          </div>
          <div class="t m0 x23 h15 y1f6 ff6 fs4 fc7 sc0 ls0 ws24">
            **Trim Material List
          </div>
          <div class="t m0 x23 h15 y1f7 ff6 fs4 fc7 sc0 ls0 ws24">
            # of Installed Items on Print
          </div>
        </div>
        <div class="c x24 y1f8 w5 h17">
          <div class="t m0 x25 h14 y1f9 ff5 fs3 fc1 sc0 ls0 ws24">
            Other Documents:
          </div>
        </div>
        <div class="c x1 y1eb w4 h11">
          <div class="t m0 x23 h15 y1fa ff6 fs4 fc7 sc0 ls0 ws24">
            Change Order Sheet
          </div>
          <div class="t m0 x23 h15 y1fb ff6 fs4 fc7 sc0 ls0 ws24">
            Makeup Sheet
          </div>
          <div class="t m0 x23 h15 y1fc ff6 fs4 fc7 sc0 ls0 ws24">30 Space</div>
          <div class="t m0 x23 h15 y1fd ff6 fs4 fc7 sc0 ls0 ws24">
            42 space(1-42)
          </div>
          <div class="t m0 x23 h15 y1fe ff6 fs4 fc7 sc0 ls0 ws24">
            42 Space(43-84)
          </div>
          <div class="t m0 x23 h15 y1ff ff6 fs4 fc7 sc0 ls0 ws24">84 Space</div>
        </div>
        <a class="l" href="#gid=88599782">
          <div class="d m1" style="
              border-style: none;
              position: absolute;
              left: 230.4px;
              bottom: 616.8575px;
              width: 140.34393px;
              height: 14.6425px;
              background-color: rgba(255, 255, 255, 0.000001);
            "></div>
        </a><a class="l" href="#gid=1953665326">
          <div class="d m1" style="
              border-style: none;
              position: absolute;
              left: 230.4px;
              bottom: 596.6075px;
              width: 175.42993px;
              height: 14.6425px;
              background-color: rgba(255, 255, 255, 0.000001);
            "></div>
        </a><a class="l" href="#gid=1268727303">
          <div class="d m1" style="
              border-style: none;
              position: absolute;
              left: 230.4px;
              bottom: 576.3575px;
              width: 147.36114px;
              height: 14.6425px;
              background-color: rgba(255, 255, 255, 0.000001);
            "></div>
        </a><a class="l" href="#gid=805078028">
          <div class="d m1" style="
              border-style: none;
              position: absolute;
              left: 230.4px;
              bottom: 534.3575px;
              width: 133.32675px;
              height: 14.6425px;
              background-color: rgba(255, 255, 255, 0.000001);
            "></div>
        </a><a class="l" href="#gid=1277560811">
          <div class="d m1" style="
              border-style: none;
              position: absolute;
              left: 230.4px;
              bottom: 513.3575px;
              width: 168.4127px;
              height: 14.6425px;
              background-color: rgba(255, 255, 255, 0.000001);
            "></div>
        </a><a class="l" href="#gid=574628983">
          <div class="d m1" style="
              border-style: none;
              position: absolute;
              left: 230.4px;
              bottom: 492.35745px;
              width: 140.34393px;
              height: 14.64255px;
              background-color: rgba(255, 255, 255, 0.000001);
            "></div>
        </a><a class="l" href="#gid=294899522">
          <div class="d m1" style="
              border-style: none;
              position: absolute;
              left: 230.4px;
              bottom: 471.35745px;
              width: 203.4987px;
              height: 14.64255px;
              background-color: rgba(255, 255, 255, 0.000001);
            "></div>
        </a><a class="l" href="#gid=1434895348">
          <div class="d m1" style="
              border-style: none;
              position: absolute;
              left: 230.4px;
              bottom: 429.35745px;
              width: 126.30953px;
              height: 14.64255px;
              background-color: rgba(255, 255, 255, 0.000001);
            "></div>
        </a><a class="l" href="#gid=1587425416">
          <div class="d m1" style="
              border-style: none;
              position: absolute;
              left: 230.4px;
              bottom: 406.85745px;
              width: 84.20635px;
              height: 14.64255px;
              background-color: rgba(255, 255, 255, 0.000001);
            "></div>
        </a><a class="l" href="#gid=867690832">
          <div class="d m1" style="
              border-style: none;
              position: absolute;
              left: 230.4px;
              bottom: 384.35745px;
              width: 56.13757px;
              height: 14.64255px;
              background-color: rgba(255, 255, 255, 0.000001);
            "></div>
        </a><a class="l" href="#gid=1586301437">
          <div class="d m1" style="
              border-style: none;
              position: absolute;
              left: 230.4px;
              bottom: 361.85745px;
              width: 98.24075px;
              height: 14.64255px;
              background-color: rgba(255, 255, 255, 0.000001);
            "></div>
        </a><a class="l" href="#gid=1361277733">
          <div class="d m1" style="
              border-style: none;
              position: absolute;
              left: 230.4px;
              bottom: 339.35745px;
              width: 105.25796px;
              height: 14.64255px;
              background-color: rgba(255, 255, 255, 0.000001);
            "></div>
        </a><a class="l" href="#gid=658849052">
          <div class="d m1" style="
              border-style: none;
              position: absolute;
              left: 230.4px;
              bottom: 316.85745px;
              width: 56.13757px;
              height: 14.64255px;
              background-color: rgba(255, 255, 255, 0.000001);
            "></div>
        </a>
      </div>
      <div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
    </div>

    <script src="" async defer></script>
  </body>

  </html>